---
---
// External
@import 'external/reset';
@import 'external/syntax';

// Base
@import 'base/variables';
@import 'base/global';
@import 'base/utility';

// Posts
@import 'layouts/posts';
@import 'layouts/index';

// Partials
@import 'includes/header';
@import 'includes/footer';

.tool {
  width: 100%;
  height: auto;
  //margin-left: 10%;
  //margin-right: 10%;
  //padding-left: 10%;
  //padding-right: 10%;
  display: inline-block;
position: relative;
background-color: #fff //#ffba6f
}


.goal {
background: #96e089;
width: 50%;
height: 100%;
display: inline-block;
}

.sep {
background: #2277b0;
display: inline-block;
width: 100%;
}

.tool_left {
  width:  30%;
  height: auto;
  background: rgba(150,224,137,0.4);
  //margin-right: 2%;
  margin-left: 3%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  display: inline-block;
	float: left;
	//box-shadow: 5px 5px 5px 5px;
//border-radius: 2em;
}
.tool_center {
  width:  30%;
  height: auto;
  background: rgba(34,119,240,0.4);
  //margin-right: 2%;
  margin-left: 2%; 
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  display: inline-block;
	float: left;
	//box-shadow: 5px 5px 5px 5px;
//border-radius: 2em;
}
.tool_right {
  width:  30%;
  height: auto;
  background: rgba(216,38,38,0.4);
  //margin-right: 2%;
  margin-left: 2%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  display: inline-block;
	float: left;
	//box-shadow: 5px 5px 5px 5px;
//border-radius: 2em;
}
.intro {
background: rgba(34,119,176,0.7);
padding: 1em;
margin-right: 3em;
border-radius: 1em;
//border: 1px solid white;
}
.image {
margin: auto;
width: 50px;
height: 50px;
padding: auto;
border-radius: 50%;
}
