<footer class="footer">
  <div class="container-fluid">

    <div class="row">
      <div class="col col-md-11 col-md-offset-1">
        <img src="{{ site.baseurl }}/img/dfg_logo.png"/>
        <img src="{{ site.baseurl }}/img/UBMA.png"/>
        <img src="{{ site.baseurl }}/img/gesis.png"/>
        <img src="{{ site.baseurl }}/img/hdm.png"/>
        <span class="hidden-sm hidden-xs">
          The InFoLis project is funded by the <a href="http://www.dfg.de">German Research Foundation</a> (DFG - Deutsche Forschungsgemeinschaft).
        </span>
      </div>
    </div>

  </div>
</footer>
