<footer class="footer">
	This project is funded by the <a href="http://www.dfg.de">German Research Foundation</a> (DFG - Deutsche Forschungsgemeinschaft).
  <div class="container-fluid">

    <div class="row">
      <div class="col col-md-8 col-md-offset-3">
        <img src="{{ site.baseurl }}/img/dfg_logo.png"/>
        InFoLiS wird gefördert mit Mitteln der Deutschen Forschungsgemeinschaft.
        <img src="{{ site.baseurl }}/img/UBMA.png"/>
        <img src="{{ site.baseurl }}/img/gesis.png"/>
              <img src="{{ site.baseurl }}/img/hdm.png"/>
        &copy; 2015 UBMA, GESIS, HDM
      </div>
    </div>

  </div>
</footer>
