---
layout: default
title: InFoLiS Blog
---
<div class="row">
  <div class="col-md-7 col-md-offset-1">
    <div class="posts">
      {% for post in paginator.posts %}
      <div class="post-teaser">
        <header>
          <h3>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              {{ post.title }}
            </a>
          </h3>
          <p class="meta">
            {{ post.date | date: "%B %-d, %Y" }}
          </p>
        </header>
        <div class="excerpt">
          {{ post.excerpt }}
          <a class="button" href="{{ post.url | prepend: site.baseurl }}">
            {{ site.theme.str_continue_reading }}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="col-md-3">
    <a class="twitter-timeline" href="https://twitter.com/infolis_project" data-widget-id="665970218917896194">Tweets von @infolis_project </a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

{% if paginator.total_pages > 1 %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
        <i class="fa fa-chevron-left"></i>
        {{ site.theme.str_prev }}
      </a>
      {% endif %}
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
        {{ site.theme.str_next }}
        <i class="fa fa-chevron-right"></i>
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
