//$header-desc-text-color
// Header text feature
.call-out {
  @extend %padding-regular;
  padding-top: 10em;
  padding-right: 5em;
  padding-bottom: 10em;
  display: inline-block;
  width: 100%;
 // background-color:$header-desc-background-color;
  background-size: cover;
  font-size: 1.5em;
 // font-weight: bold;
 // text-align: center;
  color: #383838;
}
.call-out p:last-child {
  margin-bottom: 0;
}
// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}


// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
